
<h1 class="text-center mt-4">Sign Up</h1>

<% if @user.errors.any? %>
   <h6>Fix the following errors:</h6>
   <ul>
      <% @user.errors.full_messages.each do |msg|%>
         <li><%= msg%></li>
      <%end%>
   </ul>
 
<%end%>
<div class = "container">
   <div class="row justify-content-center">
       <%= form_for @user do |f|%>
         <div class="form-group row">
           <%= f.label :username%><br>
         </div>
         <div class="form-group row" >
            <%= f.text_field :username%><br>
         </div>
         <div class="form-group row justify-content-center">
            <%= f.submit "SignUp", class: "btn btn-dark btn-lg" %>
         </div>
        <%end%> 
    </div>
</div>