<h1 class= "text-center font-weight-normal text-monospace">Your Dashboard </h1>


<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-header font-italic">
          <p> Username: <%= @user.username%></p>
        </div>
        <div class="card-body">
          <div class="card-text text-left"> </div>
          <%= link_to "All my  projects",  projects_path, class: "btn btn-outline-info" %>
          <%= link_to "All  my external projects", projects_path, class: "btn btn-outline-danger"%>
          <%= link_to "All categories", categories_path, class: "btn btn-outline-info" %>
        </div>
        <div class="card-footer text-muted">
            <p><%= link_to "Log out", logout_path, method: "delete" %></p>
        </div>
      </div>
    </div>
  </div>
</div>

