<%# A list of all transactions created by logged-in user is displayed (sorted by most recent).%>
<%= render partial: '/transactions/navbar'%>

<h1 class= "text-center">Total hours :<%= @transactions.sum(:Amount) %> </h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Icon</th>
      <th scope="col">Project Title</th>
      <th scope="col">Hrs</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
  <% @transactions.each do |transaction|%>
    <tr>
      <th scope="row"><%=%></th>
      <td><i class="fas fa-couch"></i></td>
      <td><%= transaction.Name%></td>
      <td><%= transaction.Amount%></td>
      <td><%= transaction.created_at.strftime("%a-%d-%Y")%></td>
    </tr>
   <%end%>
  </tbody>
</table>

  <div class=" text-center" >
      <%= link_to "Add New Project ", new_transaction_path, class: "btn btn-outline-primary "%>
      <%= link_to "Back", "#", class: "btn btn-outline-success "%>
  </div>



