<%= render partial: '/transactions/navbar'%>

<h5 class ="font-weight-bold  text-center">Create a New Project:</h5>

<%= form_with(model:@transaction,local: true ) do |f|%>
     <div class="field">
        <%= f.label :Name, class: "col-sm-2 col-form-label font-weight-bold" %>
        <%= f.text_field :Name, class: "form-control", placeholder: "Project Name" %>
    </div>

    <div class="field">
        <%= f.label :Amount, class: "col-sm-2 col-form-label font-weight-bold" %>
        <%= f.text_field :Amount, class: "form-control", placeholder: "Hours logged" %>
    </div>

     <div class="actions">
        <%= f.submit class: "btn btn-outline-primary " %>
    </div>
<%end%>
